[submodule "API"]
	path = API
	url = https://github.com/NovaSQL/API
[submodule "Core"]
	path = Core
	url = https://github.com/NovaSQL/Core
[submodule "MySQL-Driver"]
	path = MySQL-Driver
	url = https://github.com/NovaSQL/MySQL-Driver
[submodule "MSSQL-Driver"]
	path = MSSQL-Driver
	url = https://github.com/NovaSQL/MSSQL-Driver
